<a href="https://colab.research.google.com/github/julessosa/progra_lll/blob/main/ejemplos_basicos_en_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
saludo = "Hola mundo"

print(saludo)

Hola mundo

In [ ]:
num1 = 5
num2 = 7.5
resp = num1 + num2
print("la suma de", num1, "+", num2, "+", resp)

la suma de 5 + 7.5 + 12.5

In [ ]:
name = "Julissa Sosa"
edad = 20
saludo = "Hola " + name +", tu edad " + str (edad)
print(saludo)

Hola Julissa Sosa, tu edad 20

In [ ]:
nombre = input("dime tu nombre:")
edad = input("tu edad:")
saludo = "hola que tal " + nombre + ", tu edad: " + edad
print(saludo)

dime tu nombre:julissa
tu edad:20
hola que tal julissa , tu edad: 20

In [ ]:
num1 =  int(input("ingresa un numero: "))
num2 = int(input("ingresa un numero: "))
resp = num1 + num2
print ("la suma de" + str(resp))

In [ ]:
num1 = float(input("num1:"))
num2 = float(input("num2:"))
resp = num1 - num2
print("la resta es: ", resp)

num1:2.5
num2:1.3
la resta es:  1.2

Introduccion a python

Declaracion de variables

**FUNCIONES DE USURARIO**

  *CONVERTIR GRADOS CELSIUS A FARENHEIT

In [ ]:
def convertir (c):
  return c*9/5 + 32

In [ ]:
c = float(input("celsius: "))
print("F: ", convertir(c))

celsius: 42
F:  107.6

In [ ]:
def convertir (F):
  return (F-32) *5/9

In [ ]:
F = float(input("farenheit: "))
print("c: ", convertir(F))

farenheit: 107.6
c:  42.0

In [ ]:
def convertir (f):
  return (f-32) *5/9 + 273.15

In [ ]:
f = float(input("farenheit: "))
print("K: ", convertir(f))

farenheit: 107.6
K:  315.15

CALCULAR EL SUELDO MENSUAL

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs*valorXhr*30
  if (numHrs>8):
    sueldo += (numHrs-8)*valorXhr*2*30
    #isss + afp = 3 + 6.25 = 9.25 = 100 - 9.25 =90.75/100 =0.9075
    sueldo = sueldo*0.9070

  return sueldo

In [ ]:
valorXhr = 4
#isss = 3%
#afp = 6.25%
numHrs = float(input("horas trabajadas: "))


print("sueldo: ", sueldo(numHrs, valorXhr))

**FUNCIONES LAMBDA**


*   FUNCIONES PRECONSTRUIDAS MPA, FILTER, FIND, REDUCE, ETC.

In [ ]:
def elevarCuadrado(num):
  return num**2

In [ ]:
data = [1,2,3,4,5]

In [ ]:
resp = map(elevarCuadrado, data)
print(list(resp))

In [ ]:
resp = map(lambda n:n**2, data)
print(list(resp))

In [ ]:
resp = filter(lambda n:n>2, data)
print( list(resp) )

In [ ]:
resp = functools.reduce(lambda a,n:a+n, data)
print(resp)

**TUPLAS**

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
#semana[0] = "otro"
print( semana.count("domingo") ) #count cuenta el numero de veces que aparece un elemento en la tupla
print( len(semana) )

**LISTAS=>ARRAY

In [ ]:
meses = ["ene", "feb", "mar", "abr", "may", "jun", "jul", "ago", "sep", "oct", "nov", "dic"]
print( meses[-2:] ) #ultimos dos meses del año
print( meses[:2] ) #primero dos meses del año

meses[0] = "enero"

print( meses )

In [ ]:
materias = [ ["Progra I", [5,6,8], [8,7,9], [9,10,9] ], ["Progra II"] ]
print( materias[1][0] )

**DICCIONARIOS=>JSON

In [ ]:
materias = {
    "Progra I": {
        "c1": {
          "lab1" : 5,
          "lab2" : 6,
          "parcial" : 8
      },
      "c2": {
          "lab1" : 8,
          "lab2" : 7,
          "parcial" : 9
      },
      "c3": {
          "lab1" : 9,
          "lab2" : 10,
          "parcial" : 9
      }
    },
    "Progra II" :{

    }
}
print( materias["Progra I"]["c1"]["lab1"] )

**LISTAS**

In [ ]:
data = [2,5,6,8,9]

In [ ]:
resp = map(lambda n:n**3, data)
print(list(resp))

In [ ]:
f = map(lambda c:c*9/5 + 32, data)
print( list(f) )

In [ ]:
pares = filter(lambda n:n%2==0, data)
print( list(pares) )

In [ ]:
impares = filter(lambda n:n%2!=0, data)
print( list(impares) )

**CICLOS**

*   FOR

In [ ]:
for item in data:
  print(item)



*   WHILE

In [ ]:
i=0
n = len(data)
while i<n:
  print( data[i] )
  i+=1

**TABLA DE MULTIPLICAR**

In [ ]:
n = int(input("N Tabla: "))

for i in range(1,11):
  print( n, "x", i, "=", n*i )

In [ ]:
edad = int(input("Edad: "))

if edad<=2:
  print("soy un bebe")
elif edad<=11:
  print("Soy un niño")
elif edad<18:
  print("Soy un adolescente")
elif edad<=65:
  print("soy mayor de edad")
elif edad<=85:
  print("Soy un adulto mayor")
else:
  print("Larga vida")

In [ ]:
lista = [5,8,9,15,7,9,2,3, 2, 1]

In [ ]:
mayor = 0
for num in lista:
  if num>mayor:
    mayor = num
print("EL numero mayor de la lista: ", lista, "es: ", mayor)

In [ ]:
mayor = 0
i=0
n=len(lista)
while i<n:
  if lista[i]>mayor:
    mayor = lista[i]
  i+=1
print(mayor)

**Escribir un programa que pida la nota de un examen (0,10), en imprima por pantalla la calificacion en formato: "suspenso" si la nota es menor a 5, "Aprobado" si es entre 5 y 7 inclusive, y 7 sin incluir, "Notable" si esta entre 7 inclusive y 9 sin incluir, "Sobresaliente" si esta entre 9 inclusive y 10 sin incluir, y "Honorable" si es 10**

In [ ]:
nota = float(input("ingresar nota: "))
if nota<0 or nota>10:
  print("nota no valida")

elif  nota<5:
 print("suspendido")
elif nota >=5 and nota <7:
  print("aprobado")
elif nota<9:
  print ("notable")
elif nota<10:
  print("sobresaliente")
else:
  print("honorable")

ingresar nota: 9.99
sobresaliente

Escriba un programa que muestre la secuencia fibonacci

In [ ]:
limit = int(input("limit: "))
a=0
b=1
c=0
while c<limit:
  c=a+b
  print(a, "+", b, "=", c)
  b=a
  a=c

**proframacion orientada a objetos**
CLASE

In [ ]:
class Calculadora:
  def sumar(sefl, num1, num2):
    return num1 + num2

INSTANCIA DE UNA CLASE

In [ ]:
objCalculadora = Calculadora()

OBJETO

**PARCIAL I**

Desarrolle un algoritmo en Python que calcule el IMPUESTO A LAS
ACTIVIDADES ECONOMICAS de acuerdo con la siguiente tabla. El monto
de la actividad económica debe ser introducido por el usuario. (30%)

In [ ]:
def calcular_impuesto(actividad_monetaria):
    if actividad_monetaria < 0:
        return "Valor inválido: no se pueden ingresar valores negativos"
    elif 0.01 <= actividad_monetaria <= 500:
        valor_pagar = (actividad_monetaria - 0.01)/1000 * 0 + 1.5
    elif 500.01 <= actividad_monetaria <= 1000:
        valor_pagar = (actividad_monetaria - 500.01)/1000 * 3 + 1.5
    elif 1000.01 <= actividad_monetaria <= 2000:
        valor_pagar = (actividad_monetaria - 1000.01)/1000 * 3 + 3
    elif 2000.01 <= actividad_monetaria <= 3000:
        valor_pagar = (actividad_monetaria - 2000.01)/1000 * 3 + 6
    elif 3000.01 <= actividad_monetaria <= 6000:
        valor_pagar = (actividad_monetaria - 3000.01)/1000 * 2 + 9
    elif 6000.01 <= actividad_monetaria <= 8000:
        return "ERROR"
    elif 8000.01 <= actividad_monetaria <= 18000:
        valor_pagar = (actividad_monetaria - 8000.01)/1000 * 2 + 15
    elif 18000.01 <= actividad_monetaria <= 30000:
        valor_pagar = (actividad_monetaria - 18000.01)/1000 * 2 + 39
    elif 30000.01 <= actividad_monetaria <= 60000:
        valor_pagar = (actividad_monetaria - 30000.01)/1000 * 1 + 63
    elif 60000.01 <= actividad_monetaria <= 100000:
        valor_pagar = (actividad_monetaria - 60000.01)/1000 * 0.8 + 93
    elif 100000.01 <= actividad_monetaria <= 200000:
        valor_pagar = (actividad_monetaria - 100000.01)/1000 * 0.7 + 125
    elif 200000.01 <= actividad_monetaria <= 300000:
        valor_pagar = (actividad_monetaria - 200000.01)/1000 * 0.6 + 195
    elif 300000.01 <= actividad_monetaria <= 400000:
        valor_pagar = (actividad_monetaria - 300000.01)/1000 * 0.45 + 255
    elif 400000.01 <= actividad_monetaria <= 500000:
        valor_pagar = (actividad_monetaria - 400000.01)/1000 * 0.4 + 300
    elif 500000.01 <= actividad_monetaria <= 1000000:
        valor_pagar = (actividad_monetaria - 500000.01)/1000 * 0.30 + 340
    else:
        valor_pagar = (actividad_monetaria - 1000000.01)/1000 * 0.18 +490

    return valor_pagar

actividad_monetaria = float(input("Ingresa la cantidad de la actividad monetaria: "))
valor_pagar = calcular_impuesto(actividad_monetaria)

if isinstance(valor_pagar, str):
    print(valor_pagar)
else:
    print(f"El valor a pagar es: ${valor_pagar:.2f}")

Desarrolle el conversor de Área (Superficie) haciendo uso de los
diccionarios y las funciones de usuario en Python que contenga las
siguientes opciones: (20%)
a. Pie Cuadrado
b. Vara Cuadrada
c. Yarda Cuadrada
d. Metro Cuadrado
e. Tareas
f. Manzana
g. Hectárea

---

In [ ]:
def convertir_area(valor, unidad_origen, unidad_destino):
    # Define factores de conversión para diferentes unidades de área
    conversiones = {
        "metro_cuadrado": {
            "pie_cuadrado": 10.7639,
            "vara_cuadrada": 0.239913,
            "yarda_cuadrada": 1.19599,
            "tareas": 0.0247,
            "manzana": 0.0001,
            "hectarea": 0.0001
        },
        "pie_cuadrado": {
            "metro_cuadrado": 0.092903,
            "vara_cuadrada": 0.0229568,
            "yarda_cuadrada": 0.111111,
            "tareas": 0.0023,
            "manzana": 0.00000942,
            "hectarea": 0.00000942
        },
        "vara_cuadrada": {
            "metro_cuadrado": 4.16723,
            "pie_cuadrado": 43.56,
            "yarda_cuadrada": 209.999,
            "tareas": 4.36654,
            "manzana": 0.04366,
            "hectarea": 0.04366
        },
        "yarda_cuadrada": {
            "metro_cuadrado": 0.836127,
            "pie_cuadrado": 9,
            "vara_cuadrada": 0.0047619,
            "tareas": 0.0209,
            "manzana": 0.00008495,
            "hectarea": 0.00008495
        },
        "tareas": {
            "metro_cuadrado": 40.4686,
            "pie_cuadrado": 43560,
            "vara_cuadrada": 2177.53,
            "yarda_cuadrada": 4840,
            "manzana": 4,
            "hectarea": 4
        },
        "manzana": {
            "metro_cuadrado": 7000,
            "pie_cuadrado": 107639,
            "vara_cuadrada": 10000,
            "yarda_cuadrada": 11959.9,
            "tareas": 4,
            "hectarea": 0.70
        },
        "hectarea": {
            "metro_cuadrado": 10000,
            "pie_cuadrado": 107639,
            "vara_cuadrada": 2399.13,
            "yarda_cuadrada": 11959.9,
            "tareas": 4,
            "manzana": 1
        }
    }

    # Realiza la conversión
    if unidad_origen in conversiones and unidad_destino in conversiones[unidad_origen]:
        factor_conversion = conversiones[unidad_origen][unidad_destino]
        resultado = valor * factor_conversion
        return resultado
    else:
        return "Unidad de conversión no válida."

while True:
    print("Conversor de Área")
    print("Unidades disponibles: metro_cuadrado, pie_cuadrado, vara_cuadrada, yarda_cuadrada, tareas, manzana, hectarea")
    print("Ejemplo de entrada: 100 metro_cuadrado a pie_cuadrado")
    print("Ingrese 'salir' para salir.")

    entrada = input("Ingrese la conversión que desea realizar: ")

    if entrada.lower() == 'salir':
        break

    partes = entrada.split()

    if len(partes) != 4:
        print("Formato de entrada no válido. Debe ser en el formato 'valor unidad_origen a unidad_destino'.")
        continue

    try:
        valor = float(partes[0])
        unidad_origen = partes[1]
        unidad_destino = partes[3]
    except ValueError:
        print("Valor no válido. Debe ingresar un número.")
        continue

    resultado = convertir_area(valor, unidad_origen, unidad_destino)

    if isinstance(resultado, float):
        # Redondea el resultado a 2 decimales
        resultado_redondeado = round(resultado, 2)
        print(f"{valor} {unidad_origen} son aproximadamente {resultado_redondeado} {unidad_destino}.")
    else:
        print(resultado)